<h1 id="device">Perangkat / Devices</h1>
<p>Akan menampilkan semua perangkat</p>
<h5>Syntax</h5>
<code>
    curl localhost:20215/getmasterdevice
</code>
<h5>Contoh</h5>
<code>
    curl localhost:20215/getmasterdevice
</code>
