<h1 id="device">Perangkat / Devices</h1>
<p>Akan menampilkan semua perangkat</p>
<h5>Syntax</h5>
<code>
    curl -k  -H 'Content-Type: application/json' -H 'Accept: application/json' -X POST https://<strong>server</strong>:<strong>port</strong>/getmasterdevice
</code>
<h5>Contoh</h5>
<code>
    curl -k -H 'Content-Type: application/json' -H 'Accept: application/json' -X POST https://localhost:20215/getmasterdevice
</code>

<h5>Syntax</h5>
<code>
    curl -k  -H 'Content-Type: application/json' -H 'Accept: application/json' -d '{"name":"<strong>name</strong>"}' -X POST https://<strong>server</strong>:<strong>port</strong>/getmasterdevicebyname
</code>
<h5>Contoh</h5>
<code>
    curl -k  -H 'Content-Type: application/json' -H 'Accept: application/json' -d '{"name":"<strong>a</strong>"}' -X POST https://localhost:20215/getmasterdevicebyname
</code>

<h5>Syntax</h5>
<code>
    curl -k  -H 'Content-Type: application/json' -H 'Accept: application/json' -d '{"id":"<strong>id</strong>"}' -X POST https://<strong>server</strong>:<strong>port</strong>/getmasterdevicebyid
</code>
<h5>Contoh</h5>
<code>
    curl -k https://192.168.0.117:20216/getmasterdevicebyid/16
</code>
