<h1 id="device">Perangkat / Devices</h1>
<p>Akan menampilkan semua perangkat</p>
<h5>Syntax</h5>
<code>
    curl -k https://<strong>server</strong>:<strong>port</strong>/getmasterdevice
</code>
<h5>Contoh</h5>
<code>
    curl -k https://localhost:20215/getmasterdevice
</code>

<h5>Syntax</h5>
<code>
    curl -k https://<strong>server</strong>:<strong>port</strong>/getmasterdevicebyname/:name
</code>
<h5>Contoh</h5>
<code>
    curl -k https://localhost:20215/getmasterdevicebyname/:name
</code>

<h5>Syntax</h5>
<code>
    curl -k https://<strong>server</strong>:<strong>port</strong>/getmasterdevicebyid/:<strong>id</strong>
</code>
<h5>Contoh</h5>
<code>
    curl -k https://192.168.0.117:20216/getmasterdevicebyid/16
</code>
