<div id="divListOfContent">
    <p>Daftar Isi</p>
    <ul class="ullistofcontent">
        <li><a href="#client"> Client</a></li>
        <li><a href="#suspect"> Suspect</a></li>
        <li><a href="#prospect"> Prospect</a></li>
        <li><a href="#survey"> Survey</a></li>
        <li><a href="#install"> Install</a></li>
        <li><a href="#ticket"> Ticket</a></li>
        <li><a href="#service"> Layanan</a></li>
        <li><a href="#device"> Perangkat</a></li>
    </ul>
</div>
