<h1 id="material">Material</h1>
<p>Akan menampilkan semua material</p>
<h5>Syntax</h5>
<code>
    curl <strong>server</strong>:<strong>port</strong>/getmastermaterial
</code>
<h5>Contoh</h5>
<code>
    curl -k https://localhost:20215/getmastermaterial
</code>

<h5>Syntax</h5>
<p>Get Material berdasarkan Nama material</p><code>
    curl <strong>server</strong>:<strong>port</strong>/getmastermaterialbyname/:name
</code>
<h5>Contoh</h5>
<code>
    curl -k https://localhost:20215/getmastermaterialbyname/pipa
</code>

<h5>Syntax</h5>
<p>Get Material berdasarkan ID material</p>
<code>
    curl <strong>server</strong>:<strong>port</strong>/getmastermaterialbyid/:<strong>id</strong>
</code>
<h5>Contoh</h5>
<code>
    curl -k https://192.168.0.117:20216/getmastermaterialbyid/16
</code>
