<h2 id="prospect">Prospect</h2>
<h3>Get Prospects</h3>
<h5>Syntax</h5>
<code>curl localhost:20215/getlistprospectsbyname/<strong> client_name</strong> </code>
<h5>Contoh</h5>
<code>curl localhost:20215/getlistprospectsbyname/hanam</code>
<h3>Create Prospect</h3>
<p>Prospect dibuat dengan mengubah status Calon pelanggan menjadi <b>P</b>, dan ini dapat dilakukan dengan edit <i>Client</i></p>
<h5>Syntax</h5>
<code>curl -d 'id=<strong> client_id</strong> &prospectdate=<strong> YYYY-MM-DD </strong> '&status=P -X POST http://localhost:20215/updateclient</code>
<h5>Contoh</h5>
<code>curl -d 'id=10320&prospectdate=2021-12-31'&status=P -X POST http://localhost:20215/updateclient</code>
