<div id="idSticky" class="shown">
    <ul class="ulnavigator">
        <li>
            <button id="btnCloser" class="btn" title="Toggle Side Menu">
                    <span class="oi" data-glyph="menu"></span>
            </button>
        </li>
        <li>
            <button id="btnTop" class="btn" title="Go to Top">
                <span class="oi" data-glyph="chevron-top"></span>
            </button>
        </li>
        <li>
            <button id="btnDownload" class="btn" title="Print by Browser">
                <span class="oi" data-glyph="print"></span>
            </button>
        </li>
    </ul>
</div>
