<div id="idSticky" class="shown">
    <ul class="ulnavigator">
        <li>
            <button id="btnCloser" class="btn" title="Toggle Menu Samping">
                    <span class="oi" data-glyph="menu"></span>
            </button>
        </li>
        <li>
            <button id="btnTop" class="btn" title="Kembali ke atas">
                <span class="oi" data-glyph="chevron-top"></span>
            </button>
        </li>
        <li>
            <button id="btnDownload" class="btn" title="Cetak menggunakan Browser">
                <span class="oi" data-glyph="print"></span>
            </button>
        </li>
        <li class="sidebar">
            <div style="display:table">
                <div style="display:table-cell;width:100%">
                        <input type="text" name="txtSearch" id="txtSearch" />
                </div>    
                <button id="btnSearch" class="btn" title="Pencarian">
                    <span class="oi" data-glyph="magnifying-glass"></span>
                </button>
            </div>
        </li>
    </ul>
</div>
