<h2 id="survey">Survey</h2>
<p>
    Proses <i>Survey</i> terdiri atas beberapa proses yang lebih detail. Diantaranya entri <i>Berita Acara</i>, <i>Jarak antar BTS</i>, <i>Perangkat</i>, <i>Material</i>, <i>Resume</i>, <i>Jarak antar Site</i>, <i>Petugas Survey</i>, dan <i>Gambar Survey</i>. 
</p>
<h3 id="showsurveys">Menampilkan Surveys</h3>
<h5>Syntax</h5>
<code>curl -d 'segment= <strong> baris_awal </strong> &offset= <strong> jumlah_baris </strong> ' -X POST localhost:20215/listsurveyproposal/</code>
<h5>Contoh</h5>
<code>curl -d 'segment=0&offset=10' -X POST localhost:20215/listsurveyproposal/</code>
<p>Kode di atas menampilkan pengajuan survey dimulai dari baris ke 0 sebanyak 10.</p>
<p></p>
<h3>Pengajuan Survey</h3>
<p>Setiap kali Sales mengajukan Survey, maka sistem menambahkan record ke table <strong>survey_requests</strong> dan juga <strong>survey_sites</strong></p>
<h5>Syntax</h5>
<code>
    curl -d "client_id= <strong> client_id </strong> &branch_id= <strong> branch_id </strong> &survey_date= <strong> survey_date </strong> &address= <strong> client_address </strong> &city= <strong> client_city </strong> &pic_name= <strong> client_pic </strong> &pic_phone= <strong> pic_phone </strong> &pic_email= <strong>pic_email</strong> " -X POST localhost:20215/proposesurvey
</code>
<p>Format nilai yang dikembalikan adalah sebagai berikut:</p>
<code>
    {"result":<strong>boolean</strong>,"client_site_id":<strong>client_site_id</strong>,"survey_request_id":<strong>survey_request_id</strong>,"survey_site_id":<strong>survey_site_id</strong>}
</code>
<h5>Contoh</h5>
<code>
        curl -d "client_id=111&branch_id=1&survey_date=2021-11-30&address=Jl Gadjah Mada Sidoarjo&city=Sidoarjo&pic_name=Budi&pic_phone=0888123456&pic_email=budi@company.com" -X POST localhost:20215/proposesurvey
</code>
<p>Nilai yang dikembalikan adalah sebagai berikut:</p>
<code>
    {"result":true,"client_site_id":3038,"survey_request_id":1910,"survey_site_id":1906}
</code>
<h3 id="updatesurvey">Update Pengajuan Survey</h3>
<p>update pengajuan Survey hanya dapat mengupdate field-field tanggal dan alamat dengan menentukan survey yang hendak diupdate (<i>survey_site_id</i>)</p>
<h5>Syntax</h5>
<code>
    curl -d 'id=<strong>survey_id</strong>&city=<strong>city_name</strong>&address=<strong>alamat_survey</strong>' -X POST localhost:20215/surveyupdate
</code>
<h5>Contoh</h5>
<code>
    curl -d 'id=1897&city=Surabaya&address=Jl. Ciliwung No. 74-B' -X POST localhost:20215/surveyupdate
</code>
<h3>Laporan Survey</h3>
<p><i>Laporan Survey</i> menambahkan data ke <i>Pengajuan Survey</i> tertentu. Data-data yang ditambahkan antara lain:</p>
<ul>
    <li>Gambar Survey</li>
    <li>Perangkat</li>
    <li>Material</li>
    <li>Jarak antar BTS</li>
    <li>Jarak antar Site</li>
    <li>Resume</li>
    <li>Staff Survey</li>
</ul>
<p>Masing-masing data di atas akan disimpan menggunakan <strong>survey_site_id</strong> yang sesuai</p>
<h5>Syntax</h5>
<code>
    curl -H 'Content-Type: application/json' -H 'Accept: application/json' -d '{
        "parent_fields":[{"survey_site_id":<strong>survey_site_id</strong>}],
            "materials":<strong>array_material</strong>,
            "devices":<strong>array_perangkat</strong>,
        "imagesv2":<strong>array_gambar</strong>,
        <strong>array_beritaacara</strong>}' -X POST localhost:20215/createsurveyreport
</code>
<p>Di atas merupakan syntax untuk menambahkan laporan terhadap survey tertentu. Data-data yang diisikan antara lain adalah array material yang dibutuhkan, array perangkat yang dibutuhkan, dan array gambar survey</p>
<h5>Contoh</h5>
<code>
    curl -H 'Content-Type: application/json' -H 'Accept: application/json' -d '{
        "parent_fields":[{"survey_site_id":28}],
            "materials":[{"name":"3mm","amount":10,"material_type":"Seling"}],
            "devices":[{
                "name":"Mikrotik RB411",
                "amount":"1",
                "description":"Pak Kris/Bu Linda"
                }],
        "imagesv2":[{"img":""}],
            "bas":[{"name":"ba"}]}' -X POST localhost:20215/createsurveyreport
</code>

<h4 id="insertsurveyimage">Insert Gambar Survey</h4>
<p>
    <i>Gambar survey</i> dientri terpisah dari <i>data survey</i>, karena karakteristik gambar (data-multipart) berbeda dengan data biasa dalam request POST. Data selain gambar yang dibutuhkan adalah <i>survey_site_id</i>,<i>path</i>,<i>roworder</i>,<i>description</i>
</p>
<p>
    Entri <i>Gambar survey</i> akan mengembalikan nilai nama file gambar survey. Nama file ini bersama dengan data-data lain dikirim ulang ke server.
</p>
<p>
    <i>Gambar Survey</i> disimpan dalam direktori aplikasi bernama <i>images/surveys</i>
</p>
<p>
    Jadi gambar diupload terlebih dahulu, selanjutnya data pelengkap dipost setelahnya.
</p>
<h5>Syntax</h5>
<code>
    curl -k -X POST -F 'image=@/home/webdev/pisau.jpg' -v  http://localhost:20215/surveyimages/
</code>
<p>
    return value jika sukses adalah {"result":<strong>status</strong>,"id":<strong>namafile (timestamp)</strong>},<strong>status</strong> bernilai <strong>true</strong> jika berhasil dan <strong>false</strong> jika tidak berhasil
</p>
<h5>Contoh</h5>
<code>
    curl -k -X POST -F 'image=@/home/webdev/pisau.jpg;survey_site_id=1' -v  http://localhost:20215/surveyimages/
</code>
<p>
    return value {"result":"ok","id":1640153893998}
    Insert ke database:
</p>
<code>
    curl -d 'survey_site_id=2386&path=1640153893998&createuser=bebop&description=gambar survey 01' -X POST localhost:20215/createsurveyimages
</code>
<h4 id="removesurveyimage">Menghapus Gambar Survey</h4>
<h5>Syntax</h5>
<code>
    curl -d 'filename=<strong>filename</strong>' -X POST http://localhost:20215/removesurveyimage
</code>
<h5>Contoh</h5>
<code>
    curl -d 'filename=1640153893998.jpg' -X POST http://localhost:20215/removesurveyimage
</code>
<h3>Berita Acara</h3>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'id=<strong>id_BA</strong>&name=<strong>nama_BA</strong>' -X POST localhost:20215/updatesurveybas
</code>
<h5>Contoh</h5>
<code>
    curl -d 'id=131&name=BA Surabaya' -X POST localhost:20215/updatesurveybas
</code>
<h3>Jarak Antar BTS</h3>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&description=<strong>description</strong>' -X POST localhost:20215/updatesurveybtsdistances
</code>
<h5>Contoh</h5>
<code>
    curl -d 'survey_site_id=2385&description=Dilihat dari bulan' -X POST localhost:20215/updatesurveybtsdistances
</code>
<h3>Perangkat Survey</h3>
<h4>Penambahan</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&device_id=<strong>device_id</strong>&name=<strong>device name</strong>&amount=<strong>amount</strong>' -X POST localhost:20215/createsurveydevices
</code>
<h5>Code</h5>
<code>
    curl -d 'survey_site_id=2386&device_id=1&name=mikrotik RB 750&amount=5' -X POST localhost:20215/createsurveydevices
</code>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&device_id=<strong>device_id</strong>&name=<strong>device_name</strong>&amount=<strong>device_amount</strong>' -X POST localhost:20215/updatesurveydevices
</code>
<h5>Code</h5>
<code>
    curl -d 'id=530&device_id=1&name=merapi&amount=5' -X POST localhost:20215/updatesurveydevices
</code>

<h3>Jarak dengan Pelanggan Lain</h3>
<h4>Penambahan</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&distance=<strong>distance</strong>' -X POST localhost:20215/createsurveyclientdistances
</code>
<h5>Contoh</h5>
<code>
    curl -d 'survey_site_id=2386&distance=1' -X POST localhost:20215/createsurveyclientdistances
</code>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
        curl -d 'id=<strong>id</strong>&distance=<strong>distance</strong>' -X POST localhost:20215/updatesurveyclientdistances
</code>
<h5>Contoh</h5>
<code>
        curl -d 'id=2385&distance=1' -X POST localhost:20215/updatesurveyclientdistances
</code>
<h3>Material</h3>
<h4>Penambahan</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&material_type=<strong>material_type</strong>&name=<strong>material_name</strong>&amount=<strong>material_amount</strong>' -X POST localhost:20215/createsurveymaterials
</code>
<h5>Contoh</h5>
<code>
    curl -d 'survey_site_id=2386&material_type=1&name=semeru&amount=5' -X POST localhost:20215/createsurveymaterials
</code>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'id=<strong>material_id</strong>&material_type=<strong>material_type</strong>&name=<strong>material_name</strong>&amount=<strong>material_amount</strong>' -X POST localhost:20215/updatesurveymaterials
</code>
<h5>Contoh</h5>
<code>
    curl -d 'id=5973&material_type=Selang&name=semeru&amount=5' -X POST localhost:20215/updatesurveymaterials
</code>


<h3>Resume</h3>
<h4>Penambahan</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_site_id=<strong>survey_site_id</strong>&name=<strong>resume_name</strong>' -X POST localhost:20215/createsurveyresumes
</code>
<h5>Contoh</h5>
<code>
    curl -d 'survey_site_id=2386&name=semeru' -X POST localhost:20215/createsurveyresumes
</code>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'id=<strong>id</strong>&name=<strong>resume_name</strong>' -X POST localhost:20215/updatesurveyresumes
</code>
<h5>Contoh</h5>
<code>
    curl -d 'id=5973&name=semeru' -X POST localhost:20215/updatesurveyresumes
</code>


<h3>Petugas Survey</h3>
<h4>Penambahan</h4>
<h5>Syntax</h5>
<code>
    curl -d 'survey_request_id=<strong>survey_request_id</strong>&name=<strong>staff_name</strong>&createuser=<strong>creator_name</strong>&email=<strong>staff_email</strong>' -X POST localhost:20215/createsurveysurveyors
</code>
<h5>Contoh</h5>
<code>
    curl -d 'survey_request_id=2386&name=marius&createuser=agus&email=marius@padi.net.id' -X POST localhost:20215/createsurveysurveyors
</code>
<p>
    Kode di atas akan memberikan nilai kembalian sebagai berikut:
</p>
<code>
        {"result":true,"description":{"fieldCount":0,"affectedRows":1,"insertId":2285,"serverStatus":2,"warningCount":0,"message":"","protocol41":true,"changedRows":0}}
</code>
<h4>Update</h4>
<h5>Syntax</h5>
<code>
    curl -d 'id=<strong>id</strong>&name=<strong>staff_name</strong>&createuser=<strong>creator_name</strong>&email=<strong>staff_email</strong>' -X POST localhost:20215/updatesurveysurveyors
</code>
<p>Kode di atas akan memberikan nilai kembalian sebagai berikut:</p>
<code>
    {"result":<strong>boolean</strong>,"description":<strong>keterangan</strong>}
</code>
<h5>Contoh</h5>
<code>
    curl -d 'id=2284&name=Gilang&createuser=agus&email=gilang@padi.net.id' -X POST localhost:20215/updatesurveysurveyors
</code>
<p>Kode di atas akan memberikan nilai kembalian sebagai berikut:</p>
<code>
    {"result":true,"description":{"fieldCount":0,"affectedRows":1,"insertId":0,"serverStatus":2,"warningCount":0,"message":"(Rows matched: 1  Changed: 1  Warnings: 0","protocol41":true,"changedRows":1}}
</code>