<h1 id="ticket">Ticket</h1>
<p>Sehubungan dengan data <i>Ticket</i> yang sangat banyak, maka perlu pembatasan cara retrieve <i>Ticket</i>. Disediakan 4 cara retrieve ticket, antara lain:</p>
<ol>
    <li>Berdasarkan nama pelanggan</li>
    <li>Berdasarkan id Pelanggan</li>
    <li>Berdasarkan id Ticket</li>
    <li>Berdasarkan kode Ticket</li>
</ol>
<h4>Get Ticket</h4>
<h5>Snytax</h5>
<code>
    curl -H 'Content-Type: application/json' -H 'Accept: application/json' -k -d '{"name":"<strong>client_name</strong>"}' -X POST https://<strong>server</strong>:<strong>port</strong>/getticketsbyclientname
</code>
<h5>Contoh</h5>
<code>
    curl -H 'Content-Type: application/json' -H 'Accept: application/json' -k -d '{"name":"dia cip"}' -X POST https://localhost:20215/getticketsbyclientname
</code>
<p>Pada contoh di atas akan mengambil data ticket berdasarkan <i>nama pelanggan</i></p>
<h5>Snytax</h5>
<code>
    curl -k https://<strong>server</strong>:<strong>port</strong>/getticketsbyclientid/<strong>client_id</strong>
</code>
<h5>Contoh</h5>
<code>
    curl -k https://localhost:20215/getticketsbyclientid/5
</code>
<p>Pada contoh di atas akan mengambil data ticket berdasarkan <i>id pelanggan</i></p>


<h5>Snytax</h5>
<code>
    curl -k <strong>server</strong>:<strong>port</strong>/getticketsbyid/<strong>ticket_id</strong>
</code>
<h5>Contoh</h5>
<code>
    curl -k localhost:20215/getticketsbyid/21885
</code>
<p>Pada contoh di atas akan mengambil data ticket berdasarkan <i>id ticket</i></p>

<h5>Snytax</h5>
<code>
    curl -k <strong>server</strong>:<strong>port</strong>/getticketsbykdticket/<strong>kdticket</strong>
</code>
<h5>Contoh</h5>
<code>
    curl -k localhost:20215/getticketsbykdticket/21885
</code>
<p>Pada contoh di atas akan mengambil data ticket berdasarkan <i>kode ticket</i></p>
